*,
*::before,
*::after {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Roboto", sans-serif;
}


.nav-bar,
.hero,
.footer {
   background-color: #1F2937;
}


.nav-bar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 250px 80px 250px;
}

.logo {
   display: flex;
   align-items: center;
}

.links ul {
   display: flex;
   gap: 20px;
}

.hero {
   display: flex;
   align-items: center;
   gap: 30px;
   padding: 0 250px 130px 250px;
}


.left-hero p {
   margin-bottom: 14px;
}

button {
   padding: 8px 20px;
   border-radius: 4px;
   border: none;
   font-weight: 600;
}

.hero h1,
.logo,
button {
   color: #F9FAF8;
}

.hero h1 {
   font-size: 48px;
}

.hero p,
.links a {
   font-size: 18px;
   color: #E5E7EB;
}

.links a {
   text-decoration: none;
}

.links ul {
   list-style: none;
}

.logo {
   font-size: 24px; 
}

button,
.cta {
   background-color: #3882F6;
}

.info-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px 350px 100px 350px;
}

.geniuses {
   display: flex;
   gap: 50px;
}

.genius {
   width: 150px;
}

.genius img {
   border-radius: 4px;
   border: 3px solid #3882F6
}

.info-section h2 {
   font-size: 36px;
   font-weight: bold;
   color: #1F2937;
   margin-bottom: 50px;
}

.quote-section {
   background-color: #E5E7EB;
   padding: 130px 375px 100px 375px;
}

.quote-section p {
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
   color: #1F2937;
}

.quote-section p.quote-author {
   font-weight: 700;
   font-style: normal;
   font-size: 26px;
   width: 350px;
   margin-left: auto;
}

.cta {
   margin: 100px 280px;
   padding: 50px 100px;
   border-radius: 5px;
   color: #F9FAF8;
   display: flex;
   justify-content: space-between;
}

.cta button {
   border: 2px solid #F9FAF8;
   font-weight: 600;
}

.footer {
   color: #F9FAF8;
   display: flex;
   justify-content: center;
   padding: 30px 0;
}